* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.imgFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.img-container {
  columns: 2;
}
